{% load static %}
<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>업무지원 시스템</title>
  <link rel="stylesheet" href="{% static 'css/create_profile.css' %}?v=2025-08-19-05">
</head>
<body>

  <!-- 타이틀 + 탭(고정) -->
  <div class="sticky-wrap">
    <div class="titlebar">
      <h1>(주)대진아이엔티 업무지원시스템</h1>
    </div>

    <!-- 탭 -->
    <nav class="tabs" role="tablist" aria-label="상단 메뉴">
      <a href="{% url 'create_profile' %}" class="tab" role="tab">계정관리</a>
      <button class="tab" role="tab">업무관리</button>
      <button class="tab" role="tab">계약정보</button>
      <button class="tab" role="tab">통계</button>
    </nav>
  </div>

  

 


</body>
</html>