{% load static %}  
<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>업무지원 시스템 로그인</title> 
  <link rel="stylesheet" href="{% static 'css/home.css' %}?v=2025-09-01-02">
</head>
<body>
  <div id="container" class="container">
    <div class="login_wrap">
      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{% url 'dashboard' %}">
        {% load static %}
        <img class="logo" src="{% static 'image/logo.JPG' %}" alt="Logo">
      
        <input type="text" id="username" name="username"
               required autocomplete="username" inputmode="text" placeholder="아이디">
      
        <input type="password" id="password" name="password"
               required autocomplete="current-password" placeholder="비밀번호">
      
        <button type="submit">로그인</button>
      
        {% if form and form.errors %}
          <p class="field-note">아이디 또는 비밀번호가 올바르지 않습니다.</p>
        {% endif %}
      </form>
      
    </div>
    
  </div>

</body>
</html>